<form>
  <div class="row">
    <div class="col">
      <label for="searchBy">Search By</label>
      <select
        [(ngModel)]="searchBy"
        name="searchBy"
        id="searchBy"
        class="form-control"
      >
        <option value="city">City</option>
        <option value="customerId">User</option>
      </select>
    </div>

    <div class="col">
      <label for="search">State</label>
      <input
        [(ngModel)]="searchQuery"
        type="text"
        name="search"
        id="search"
        class="form-control"
        placeholder="Search"
      />
    </div>
    <div class="col">
      <button
        [disabled]="!searchQuery"
        (click)="onSearch()"
        type="button"
        class="form-control btn btn-primary mt-1"
      >
        Search
      </button>
    </div>
  </div>
</form>
<hr />
<ul class="list-group">
  <li class="list-group-item" *ngFor="let result of results$ | async">
    {{ result }}
  </li>
</ul>
