<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      [(ngModel)]="username"
      name="email"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      name="password"
      [(ngModel)]="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <button
    [disabled]="!username || !password"
    (click)="login()"
    type="button"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
