<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Weather</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="isAuthenticated$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/history">History</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin$ | async">
          <a class="nav-link" routerLink="/user-activities">Admin</a>
        </li>
      </ng-container>
    </ul>
    <ul class="navbar-nav">
      <ng-container *ngIf="isAuthenticated$ | async; else loginOptions">
        <li class="nav-item" (click)="logout()">
          <span class="nav-link">Logout</span>
        </li>
      </ng-container>
      <ng-template #loginOptions>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
