<form>
  <div class="form-group">
    <label for="exampleFormControlInput1"
      >Search City for Weather Details</label
    >
    <input
      class="form-control"
      type="text"
      [(ngModel)]="cityName"
      name="cityName"
      placeholder="City Name"
      (keyup.enter)="getWeatherDetails()"
    />
  </div>
  <button
    [disabled]="!cityName"
    type="button"
    (click)="getWeatherDetails()"
    class="btn btn-primary btn-block"
  >
    Get Weather Deta
  </button>
</form>

<app-weather
  *ngIf="weatherDetails$ | async as weatherDetails"
  [weather]="weatherDetails"
></app-weather>
