<div class="jumbotron">
  <h1 class="display-4">{{ weather.city }}</h1>
  <p class="lead">
    {{ weather.description }}
  </p>
  <p class="lead">Sun Rise - {{ weather.sunRise | date: "mediumTime" }}</p>
  <p class="lead">Sun Set - {{ weather.sunSet | date: "mediumTime" }}</p>
  <p class="lead">Temperature {{ weather.temperature }} °C</p>
  <p class="lead">Min. Temperature {{ weather.minTemperature }} °C</p>
  <p class="lead">Max. Temperature {{ weather.maxTemperature }} °C</p>
</div>
