<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      [(ngModel)]="username"
      type="email"
      name="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Date of Birth</label>
    <input
      [(ngModel)]="dateOfBirth"
      type="date"
      name="dateOfBirth"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">User Type</label>
    <select
      [(ngModel)]="type"
      class="form-control"
      id="exampleFormControlSelect1"
      name="typeOfUser"
    >
      <option value="basic">Basic</option>
      <option value="admin">Admin</option>
    </select>
  </div>
  <button
    [disabled]="!username || !password || !dateOfBirth || !type"
    (click)="register()"
    type="button"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
