<div>
  <button class="btn btn-danger btn-block" (click)="deleteBulkHistory()">
    Delete Records In Bulk
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">City</th>
      <th scope="col">Description</th>
      <th scope="col">Sun Rise</th>
      <th scope="col">Sun Set</th>
      <th scope="col">Temperature</th>
      <th scope="col">Min. Temperature</th>
      <th scope="col">Max. Temperature</th>
      <th scope="col">Check for Bulk Actions</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let historyItem of weatherHistoryRecords$ | async; let i = index"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ historyItem.city }}</td>
      <ng-container
        *ngIf="
          itemToBeEdited?.weatherId === historyItem.weatherId;
          else displayOnly
        "
      >
        <td>
          <input
            type="text"
            name="description"
            [(ngModel)]="itemToBeEdited.description"
          />
        </td>
        <td>
          <input
            type="datetime-local"
            name="sunRise"
            [(ngModel)]="itemToBeEdited.sunRise"
          />
        </td>
        <td>
          <input
            type="datetime-local"
            name="sunSet"
            [(ngModel)]="itemToBeEdited.sunSet"
          />
        </td>
        <td>
          <input
            type="number"
            name="temperature"
            [(ngModel)]="itemToBeEdited.temperature"
          />
        </td>
      </ng-container>
      <ng-template #displayOnly>
        <td>{{ historyItem.description }}</td>
        <td>{{ historyItem.sunRise | date: "mediumTime" }}</td>
        <td>{{ historyItem.sunSet | date: "mediumTime" }}</td>
        <td>{{ historyItem.temperature }}</td>
      </ng-template>
      <td>{{ historyItem.minTemperature }}</td>
      <td>{{ historyItem.maxTemperature }}</td>
      <td>
        <input
          (change)="handleCheckChange($event, historyItem.weatherId)"
          type="checkbox"
        />
      </td>
      <td>
        <ng-container
          *ngIf="
            itemToBeEdited?.weatherId === historyItem.weatherId;
            else editButton
          "
        >
          <button
            type="button"
            (click)="update(historyItem)"
            class="btn btn-success"
          >
            Update
          </button>
          <button type="button" (click)="cancel()" class="btn btn-secondary">
            Cancel
          </button>
        </ng-container>
        <ng-template #editButton>
          <button
            type="button"
            (click)="edit(historyItem)"
            class="btn btn-primary"
          >
            Edit
          </button>
        </ng-template>
      </td>
      <td>
        <button
          type="button"
          (click)="delete(historyItem)"
          class="btn btn-danger"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
